/* Reset all bodies */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

/* Navbar */
.navbar {
    width: 100%;
    background-image: linear-gradient( to top, rgb(223, 101, 87), blueviolet );
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
}
.navbar .logo {
    width: 25%;
    align-items: center;
}
.navbar .logo, ul {
    display: flex;
    margin: 0 auto;
}
.navbar ul li {
    list-style: none;
    margin: 1rem;
    font-weight: bold;
}
.navbar ul li a { 
    text-decoration: none;
    transition: .3s;
}
.navbar ul li a:hover { color: black; }


/* header */
.header { 
    background-image: linear-gradient( to bottom, rgb(223, 101, 87), blueviolet ); 
    box-sizing: border-box;
}

.about,
.skill,
.academy,
.contact { font-size: 1.2rem; }

.card.academy { font-size: 1rem; }

.about h2,
.skill h2,
.academy h2,
.contact h2 { text-align: center; }

.about .horizontal-line,
.skill .horizontal-line,
.academy .horizontal-line,
.contact .horizontal-line {
    border: 1px solid black;
    margin: .5rem;
    animation-name: line-animations;
    animation-duration: .7s;
    animation-iteration-count: infinite;
}

@keyframes line-animations {
    from { transform: scale(-1) ; }
    to { transform: scale(1) ; }
}

.header .container,
.about .container,
.skill .container,
.academy .container,
.contact .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.header .container .pict {
    padding: .5rem;
    margin: 10px;
    width: 50%;
}
.header .container .pict img {
    width: 60%;
    margin: 4.9rem;
    border-radius: 100%;
    box-shadow: 2px 0 15px 6px rebeccapurple, 1px 6px 10px 0 rgba(0, 0, 0, 0.19);
}

/* container card */
.container {
    display: flex;
    justify-content: space-evenly;
}
.container .card {
    padding: 1rem;
    box-sizing: border-box;
    margin: .5rem;
    line-height: 1.5rem;
}

.container .card.links ul li {
    list-style: none;
    margin: 1rem;
}
.container .card.links ul li a { text-decoration: none; }

/* Footer */
footer {
    text-align: center;
    padding: 1.5rem;
    background-image: linear-gradient(to top, rgb(223, 101, 87), blueviolet);
}

/* Slide show container */
.slideshow-container {
    position: relative;
    margin: auto;
  }

/* Hide background by default */
.mySlides { display: none; }

/* Next & previous buttons */
.header .prev, .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 0;
    color: black;
    font-weight: bold;
    font-size: 2.5rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.header .prev { margin-left: 5.5rem; }
.header .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    margin-right: 10rem;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /* Animations star */
.header .star .feather-star {
    -webkit-animation: star-animations 1s infinite linear;
}
.header .star .feather-star.right {
    -webkit-animation: star-animations-right 1s infinite linear;
}
@-webkit-keyframes star-animations {
    from { 
        -webkit-transform: rotate(0deg); 
        fill: orangered;
    }
    to {
        -webkit-transform: rotate(360deg); 
        fill: orange;
    }
}
@-webkit-keyframes star-animations-right {
    from { 
        -webkit-transform: rotate(0deg); 
        fill: orange;
    }
    to {
        -webkit-transform: rotate(-360deg); 
        fill: orangered;
    }
}

/* Animations background and box shadow */
.header .container .pict img, .star .feather-star {
    animation-name: profile-animation;
    animation-duration: .7s;
    animation-iteration-count: infinite;
    cursor: pointer;
}
@keyframes profile-animation {
    0% {box-shadow: 2px 0 15px 6px rebeccapurple, 1px 6px 10px 0 rgba(0, 0, 0, 0.19);}
    25% {box-shadow: 2px 0 15px 6px purple, 1px 6px 10px 0 rgba(0, 0, 0, 0.19);}
    50% {box-shadow: 2px 0 15px 6px rebeccapurple, 1px 6px 10px 0 rgba(0, 0, 0, 0.19);}
    75% {box-shadow: 2px 0 15px 6px purple, 1px 6px 10px 0 rgba(0, 0, 0, 0.19);}
    100% {box-shadow: 2px 0 15px 6px rebeccapurple, 1px 6px 10px 0 rgba(0, 0, 0, 0.19);}
}

.header .prev, .next {
    color: salmon;
    animation-name: prev-next-button;
    animation-duration: .7s;
    animation-iteration-count: infinite;
}

@keyframes prev-next-button {
    0%   {color: salmon;}
    25%  {color: blueviolet;}
    50%  {color: salmon;}
    75%  {color: blueviolet;}
    100%  {color: salmon;}
}

/* Hover */
.header .container .pict img:hover,
.header .prev:hover, .next:hover { animation-duration: .3s; }

/* Media Query */
/* Tablet */
@media only screen and (max-width: 768px) {
    .navbar .logo { width: 100%; }
    .navbar .logo h1 { margin: auto; }
    .navbar ul { margin-right: 1rem; }
    .header .container .pict { width: 100%; }
}

/* Mobile */
@media only screen and (max-width: 576px) {
    .navbar .logo { width: 100%; }
    .navbar .logo h1 { margin: auto; }
    .navbar ul {
        position: absolute;
        flex-direction: column;
        left: -.5rem;
        top: 9rem;
    }
    .navbar ul li {
        background-color: rgb(228, 85, 69);
        padding: .5rem;
        width: 100px;
        margin: 3px;
        margin-left: -4.5rem;
        border-radius: .5rem;
        transition: .3s;
        cursor: pointer;
        z-index: 1;
    }
    .navbar ul li:hover {
        margin-left: 0;
        text-align: center;
    }

    .header .container {
        flex-wrap: wrap;
        box-sizing: border-box;
    }
    .header .container .slideshow-container {
        order: 2;
        text-align: center;
        width: 100%;
    }
    .header .container .pict {
        order: 1;
        width: 100%;
    }

    .header .prev, .next {
        font-size: 1.5rem;
        padding: 0;
        top: 40%;
    }
    .header .prev { margin-left: -20rem; }
    .header .next { margin-right: 6rem; }
}

/* Smaller screen */
@media only screen and (max-width: 360px) {
    .header { min-height: 100vh; }
    .header .prev, .next {
        font-size: 1.5rem;
        padding: 0;
        top: 29%;
    }
    .header .prev { margin-left: -12.6rem; }
    .header .next { margin-right: 3rem; }
    footer { font-size: 0.95rem; }
}

